# Server Configuration
ENV=production

# JWT Settings
# Generate a secure key in your terminal using: openssl rand -hex 32
SECRET_KEY=your_super_secret_key_here

# MongoDB Connection
# Set your MongoDB Atlas connection URI here
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority&appName=MindTrace
