# Environments
.env
.env.local
.venv
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs and OS files
*.log
Thumbs.db
.DS_Store

# Data and Models
*.pth
*.pt
*.ckpt
*.h5
*.onnx
dataset/
dataset1/
dataset2/
dataset_ckplus/
ck+/
results/
users.json

# Always include the production model
!models/best_model_rafdb.pth

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebooks
.ipynb_checkpoints

# IDE / Editor
.vscode/
.idea/
