fastapi
uvicorn[standard]
pydantic[email]
passlib[bcrypt]
python-jose[cryptography]
python-multipart
opencv-python-headless
mediapipe==0.10.14
numpy
torch
torchvision
Pillow
pymongo
gunicorn==21.2.0
python-dotenv==1.0.1